<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 18 (Drill Stem Testing)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				DST identification</td>
			<td>
				DSTID</td>
			<td>
				DSID</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				DST Intvl Top Depth (meas)</td>
			<td>
				DEPTDITM</td>
			<td>
				DDTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				DST Intvl Top Depth (vert)</td>
			<td>
				DEPTDITV</td>
			<td>
				DDTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				DST Intvl Bott Depth (meas)</td>
			<td>
				DEPTDIBM</td>
			<td>
				DDBM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				DST Intvl Bott Depth (vert)</td>
			<td>
				DEPTDIBV</td>
			<td>
				DDBV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				DST Tool Time</td>
			<td>
				DSTTTIME</td>
			<td>
				DTTI</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				HR</td>
			<td>
				HR</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				DST State of Well</td>
			<td>
				DSTSTATE</td>
			<td>
				DSTA</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				DST Surf Pressure, Tubing</td>
			<td>
				DSTSPTUB</td>
			<td>
				DSPT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				DST Surf Pressure, Casing</td>
			<td>
				DSTSPCAS</td>
			<td>
				DSPC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				DST Surf Temp, Tubing</td>
			<td>
				DSTSTTUB</td>
			<td>
				DSTT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				DST Bottom Hole Pressure</td>
			<td>
				DSTBHP</td>
			<td>
				DBHP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				DST Bottom Hole Temp</td>
			<td>
				DSTBHT</td>
			<td>
				DBHT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				DST Liquid Flow Rate</td>
			<td>
				DSTLIQFR</td>
			<td>
				DLFR</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3/D</td>
			<td>
				BPD</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				DST Gas Flow Rate</td>
			<td>
				DSTGASFR</td>
			<td>
				DGFR</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MCMD</td>
			<td>
				MCFD</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				DST Total Flow Rate</td>
			<td>
				DSTTOTFR</td>
			<td>
				DTFR</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3/D</td>
			<td>
				BPD</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				DST Cum Liquid Production</td>
			<td>
				DSTCLP</td>
			<td>
				DCLP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				DST Cum Gas Production</td>
			<td>
				DSTCGP</td>
			<td>
				DCGP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MCM</td>
			<td>
				MCF</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				DST Cum Total Production</td>
			<td>
				DSTCTP</td>
			<td>
				DCTP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3</td>
			<td>
				BBL</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Hydrogen Sulfide (avg)</td>
			<td>
				HSA</td>
			<td>
				HSA</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				PPM</td>
			<td>
				PPM</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>