<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 24 (Vessel Motion &amp; Mooring Status)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Water Depth (mean)</td>
			<td>
				WATDEPT</td>
			<td>
				WDPM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Tide</td>
			<td>
				TIDE</td>
			<td>
				TIDE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Vessel Heading</td>
			<td>
				VESSHEAD</td>
			<td>
				VHED</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Rig VCG</td>
			<td>
				RIGVCG</td>
			<td>
				RVCG</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Riser Tension</td>
			<td>
				RISTENS</td>
			<td>
				RTEN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Rig Offset (avg)</td>
			<td>
				OFFSETA</td>
			<td>
				OFSA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Rig Offset (max)</td>
			<td>
				OFFSETX</td>
			<td>
				OFSX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Rig Offset Direction</td>
			<td>
				OFFSETD</td>
			<td>
				OFSD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				LMRP Angle (avg)</td>
			<td>
				LMRPANA</td>
			<td>
				LANA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				LMRP Angle (max)</td>
			<td>
				LMRPANX</td>
			<td>
				LANX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				LMRP Angle, Direction</td>
			<td>
				LMRPAND</td>
			<td>
				LAND</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Fluid Density in Riser</td>
			<td>
				MDRISER</td>
			<td>
				MDRI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Mooring Line #01 Tens(avg)</td>
			<td>
				MLTA01</td>
			<td>
				TA01</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Mooring Line #01 Tens(max)</td>
			<td>
				MLTX01</td>
			<td>
				TX01</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Mooring Line #02 Tens(avg)</td>
			<td>
				MLTA02</td>
			<td>
				TA02</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Mooring Line #02 Tens(max)</td>
			<td>
				MLTX02</td>
			<td>
				TX02</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Mooring Line #03 Tens(avg)</td>
			<td>
				MLTA03</td>
			<td>
				TA03</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Mooring Line #03 Tens(max)</td>
			<td>
				MLTX03</td>
			<td>
				TX03</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Mooring Line #04 Tens(avg)</td>
			<td>
				MLTA04</td>
			<td>
				TA04</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Mooring Line #04 Tens(max)</td>
			<td>
				MLTX04</td>
			<td>
				TX04</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Mooring Line #05 Tens(avg)</td>
			<td>
				MLTA05</td>
			<td>
				TA05</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Mooring Line #05 Tens(max)</td>
			<td>
				MLTX05</td>
			<td>
				TX05</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Mooring Line #06 Tens(avg)</td>
			<td>
				MLTA06</td>
			<td>
				TA06</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Mooring Line #06 Tens(max)</td>
			<td>
				MLTX06</td>
			<td>
				TX06</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Mooring Line #07 Tens(avg)</td>
			<td>
				MLTA07</td>
			<td>
				TA07</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Mooring Line #07 Tens(max)</td>
			<td>
				MLTX07</td>
			<td>
				TX07</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Mooring Line #08 Tens(avg)</td>
			<td>
				MLTA08</td>
			<td>
				TA08</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Mooring Line #08 Tens(max)</td>
			<td>
				MLTX08</td>
			<td>
				TX08</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Mooring Line #09 Tens(avg)</td>
			<td>
				MLTA09</td>
			<td>
				TA09</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Mooring Line #09 Tens(max)</td>
			<td>
				MLTX09</td>
			<td>
				TX09</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Mooring Line #10 Tens(avg)</td>
			<td>
				MLTA10</td>
			<td>
				TA10</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Mooring Line #10 Tens(max)</td>
			<td>
				MLTX10</td>
			<td>
				TX10</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Mooring Line #11 Tens(avg)</td>
			<td>
				MLTA11</td>
			<td>
				TA11</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				Mooring Line #11 Tens(max)</td>
			<td>
				MLTX11</td>
			<td>
				TX11</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				Mooring Line #12 Tens(avg)</td>
			<td>
				MLTA12</td>
			<td>
				TA12</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				Mooring Line #12 Tens(max)</td>
			<td>
				MLTX12</td>
			<td>
				TX12</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				Thruster #01, Force</td>
			<td>
				THRF01</td>
			<td>
				TF01</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				Thruster #01, Direction</td>
			<td>
				THRD01</td>
			<td>
				TD01</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				Thruster #02, Force</td>
			<td>
				THRF02</td>
			<td>
				TF02</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				Thruster #02, Direction</td>
			<td>
				THRD02</td>
			<td>
				TD02</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				Thruster #03, Force</td>
			<td>
				THRF03</td>
			<td>
				TF03</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				49</td>
			<td>
				Thruster #03, Direction</td>
			<td>
				THRD03</td>
			<td>
				TD03</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				50</td>
			<td>
				Thruster #04, Force</td>
			<td>
				THRF04</td>
			<td>
				TF04</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				51</td>
			<td>
				Thruster #04, Direction</td>
			<td>
				THRD04</td>
			<td>
				TD04</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				52</td>
			<td>
				Thruster #05, Force</td>
			<td>
				THRF05</td>
			<td>
				TF05</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				53</td>
			<td>
				Thruster #05, Direction</td>
			<td>
				THRD05</td>
			<td>
				TD05</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				54</td>
			<td>
				Thruster #06, Force</td>
			<td>
				THRF06</td>
			<td>
				TF06</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				55</td>
			<td>
				Thruster #06, Direction</td>
			<td>
				THRF06</td>
			<td>
				TD06</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				56</td>
			<td>
				Thruster #07, Force</td>
			<td>
				THRF07</td>
			<td>
				TF07</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				57</td>
			<td>
				Thruster #07, Direction</td>
			<td>
				THRD07</td>
			<td>
				TD07</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				58</td>
			<td>
				Thruster #08, Force</td>
			<td>
				THRF08</td>
			<td>
				TF08</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				59</td>
			<td>
				Thruster #08, Direction</td>
			<td>
				THRD08</td>
			<td>
				TD08</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				60</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				61</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				62</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				63</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				64</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>