<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 19 (Configuration)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Hole (meas)</td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Hole (vert)</td>
			<td>
				DEPTVERT</td>
			<td>
				DVER</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				No. Drill String Sections</td>
			<td>
				DSNUM</td>
			<td>
				DSNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				DS Section 1 OD</td>
			<td>
				DS1OD</td>
			<td>
				D1OD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				DS Section 1 ID</td>
			<td>
				DS1ID</td>
			<td>
				D1ID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				DS Section 1 Tool Joint ID</td>
			<td>
				DS1JID</td>
			<td>
				D1JI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				DS Section 1 Tool Joint OD</td>
			<td>
				DS1JOD</td>
			<td>
				D1JO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				DS Section 1 Mass/Length</td>
			<td>
				DS1MASS</td>
			<td>
				D1MA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KG/M</td>
			<td>
				LB/F</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				DS Section 1 Length</td>
			<td>
				DS1LEN</td>
			<td>
				D1LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				DS Section 2 OD</td>
			<td>
				DS2OD</td>
			<td>
				D2OD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				DS Section 2 ID</td>
			<td>
				DS2ID</td>
			<td>
				D2ID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				DS Section 2 Tool Joint ID</td>
			<td>
				DS2JID</td>
			<td>
				D2JI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				DS Section 2 Tool Joint OD</td>
			<td>
				DS2JOD</td>
			<td>
				D2JO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				DS Section 2 Mass/Length</td>
			<td>
				DS2MASS</td>
			<td>
				D2MA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KG/M</td>
			<td>
				LB/F</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				DS Section 2 Length</td>
			<td>
				DS2LEN</td>
			<td>
				D2LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				DS Section 3 OD</td>
			<td>
				DS3OD</td>
			<td>
				D3OD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				DS Section 3 ID</td>
			<td>
				DS3ID</td>
			<td>
				D3ID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				DS Section 3 Tool Joint ID</td>
			<td>
				DS3JID</td>
			<td>
				D3JI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				DS Section 3 Tool Joint OD</td>
			<td>
				DS3JOD</td>
			<td>
				D3JO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				DS Section 3 Mass/Length</td>
			<td>
				DS3MASS</td>
			<td>
				D3MA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KG/M</td>
			<td>
				LB/F</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				DS Section 3 Length</td>
			<td>
				DS3LEN</td>
			<td>
				D3LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				DS Section 4 OD</td>
			<td>
				DS4OD</td>
			<td>
				D4OD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				DS Section 4 ID</td>
			<td>
				DS4ID</td>
			<td>
				D4ID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				DS Section 4 Tool Joint ID</td>
			<td>
				DS4JID</td>
			<td>
				D4JI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				DS Section 4 Tool Joint OD</td>
			<td>
				DS4JOD</td>
			<td>
				D4JO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				DS Section 4 Mass/Length</td>
			<td>
				DS4MASS</td>
			<td>
				D4MA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KG/M</td>
			<td>
				LB/F</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				DS Section 4 Length</td>
			<td>
				DS4LEN</td>
			<td>
				D4LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				DS Section 5 OD</td>
			<td>
				DS5OD</td>
			<td>
				D5OD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				DS Section 5 ID</td>
			<td>
				DS5ID</td>
			<td>
				D5ID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				DS Section 5 Tool Joint ID</td>
			<td>
				DS5JID</td>
			<td>
				D5JI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				DS Section 5 Tool Joint OD</td>
			<td>
				DS5JOD</td>
			<td>
				D5JO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				DS Section 5 Mass/Length</td>
			<td>
				DS5MASS</td>
			<td>
				D5MA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KG/M</td>
			<td>
				LB/F</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				DS Section 5 Length</td>
			<td>
				DS5LEN</td>
			<td>
				D5LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				DS Section 6 OD</td>
			<td>
				DS6OD</td>
			<td>
				D6OD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				DS Section 6 ID</td>
			<td>
				DS6ID</td>
			<td>
				D6ID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				DS Section 6 Tool Joint ID</td>
			<td>
				DS6JID</td>
			<td>
				D6JI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				DS Section 6 Tool Joint OD</td>
			<td>
				DS6JOD</td>
			<td>
				D6JO</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				DS Section 6 Mass/Length</td>
			<td>
				DS6MASS</td>
			<td>
				D6MA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KG/M</td>
			<td>
				LB/F</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				Kelly ID</td>
			<td>
				KELLYID</td>
			<td>
				KID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				Kelly Length</td>
			<td>
				KELLYLEN</td>
			<td>
				KLEN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				Drill Pipe Stand Length</td>
			<td>
				DPSTDLEN</td>
			<td>
				SLEN</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				49</td>
			<td>
				No. Joints/Stand</td>
			<td>
				DPSTDJNT</td>
			<td>
				SJNT</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				50</td>
			<td>
				No. Hole Sections</td>
			<td>
				HOLENUM</td>
			<td>
				HLNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				51</td>
			<td>
				Hole Section 1 Diam</td>
			<td>
				HL1DIAM</td>
			<td>
				H1DI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				52</td>
			<td>
				Hole Section 1 Length</td>
			<td>
				HL1LEN</td>
			<td>
				H1LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				53</td>
			<td>
				Hole Section 2 Diam</td>
			<td>
				HL2DIAM</td>
			<td>
				H2DI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				54</td>
			<td>
				Hole Section 2 Length</td>
			<td>
				HL2LEN</td>
			<td>
				H2LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				55</td>
			<td>
				Hole Section 3 Diam</td>
			<td>
				HL3DIAM</td>
			<td>
				H3DI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				56</td>
			<td>
				Hole Section 3 Length</td>
			<td>
				HL3LEN</td>
			<td>
				H3LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				57</td>
			<td>
				Hole Section 4 Diam</td>
			<td>
				HL4DIAM</td>
			<td>
				H4DI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				58</td>
			<td>
				Hole Section 4 Length</td>
			<td>
				HL4LEN</td>
			<td>
				H4LE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				59</td>
			<td>
				Hole Section 5 Diam</td>
			<td>
				HL5DIAM</td>
			<td>
				H5DI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				60</td>
			<td>
				Pump 1 Capacity</td>
			<td>
				PUMP1CAP</td>
			<td>
				P1CA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3ST</td>
			<td>
				B/ST</td>
		</tr>
		<tr>
			<td>
				61</td>
			<td>
				Pump 1 Efficiency</td>
			<td>
				PUMP1EFF</td>
			<td>
				P1EF</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				62</td>
			<td>
				Pump 2 Capacity</td>
			<td>
				PUMP2CAP</td>
			<td>
				P2CA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3ST</td>
			<td>
				B/ST</td>
		</tr>
		<tr>
			<td>
				63</td>
			<td>
				Pump 2 Efficiency</td>
			<td>
				PUMP2EFF</td>
			<td>
				P2EF</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				64</td>
			<td>
				Pump 3 Capacity</td>
			<td>
				PUMP3CAP</td>
			<td>
				P3CA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M3ST</td>
			<td>
				B/ST</td>
		</tr>
		<tr>
			<td>
				65</td>
			<td>
				Pump 3 Efficiency</td>
			<td>
				PUMP3EFF</td>
			<td>
				P3EF</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				66</td>
			<td>
				Rig Operating Cost/Hour</td>
			<td>
				RIGCOST</td>
			<td>
				RIGC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				$</td>
		</tr>
		<tr>
			<td>
				67</td>
			<td>
				Trip Rate (Dist/Time)</td>
			<td>
				TRIPRATE</td>
			<td>
				TRRT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPH</td>
			<td>
				KF/H</td>
		</tr>
		<tr>
			<td>
				68</td>
			<td>
				Kill Line ID</td>
			<td>
				KILLID</td>
			<td>
				KLID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				69</td>
			<td>
				Kill Line Joint ID</td>
			<td>
				KILLJID</td>
			<td>
				KLJD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				70</td>
			<td>
				Kill Line Joint Fraction</td>
			<td>
				KILLJF</td>
			<td>
				KLJF</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				71</td>
			<td>
				Kill Line Length</td>
			<td>
				KILLLEN</td>
			<td>
				KLLE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				72</td>
			<td>
				Choke Line ID</td>
			<td>
				CHKID</td>
			<td>
				CHID</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				73</td>
			<td>
				Choke Line Joint ID</td>
			<td>
				CHKJID</td>
			<td>
				CHJD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				74</td>
			<td>
				Choke Line Joint Fraction</td>
			<td>
				CHKJF</td>
			<td>
				CHJF</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				%</td>
			<td>
				%</td>
		</tr>
		<tr>
			<td>
				75</td>
			<td>
				Choke Line Length</td>
			<td>
				CHKLEN</td>
			<td>
				CHLE</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				76</td>
			<td>
				Depth Casing Shoe (meas)</td>
			<td>
				DEPTCSGM</td>
			<td>
				DCGM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				77</td>
			<td>
				Depth Casing Shoe (vert)</td>
			<td>
				DEPTCSGV</td>
			<td>
				DCGV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				78</td>
			<td>
				Depth PIT (meas)</td>
			<td>
				DEPTPITM</td>
			<td>
				DPTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				79</td>
			<td>
				Depth PIT (vert)</td>
			<td>
				DEPTPITV</td>
			<td>
				DPTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				80</td>
			<td>
				Frac Pressure Grad at PIT</td>
			<td>
				FPGPIT</td>
			<td>
				FPIT</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				81</td>
			<td>
				Drilling Contractor</td>
			<td>
				DRLGCONT</td>
			<td>
				CONT</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				82</td>
			<td>
				Rig Name</td>
			<td>
				RIGNAME</td>
			<td>
				RIG</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				83</td>
			<td>
				Rig Type</td>
			<td>
				RIGTYPE</td>
			<td>
				RTYP</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				84</td>
			<td>
				Vendor 1 Name/Service</td>
			<td>
				VENDOR1</td>
			<td>
				VEN1</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				85</td>
			<td>
				Vendor 2 Name/Service</td>
			<td>
				VENDOR2</td>
			<td>
				VEN2</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				86</td>
			<td>
				Vendor 3 Name/Service</td>
			<td>
				VENDOR3</td>
			<td>
				VEN3</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				87</td>
			<td>
				Vendor 4 Name/Service</td>
			<td>
				VENDOR4</td>
			<td>
				VEN4</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				88</td>
			<td>
				Vendor 5 Name/Service</td>
			<td>
				VENDOR5</td>
			<td>
				VEN5</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				89</td>
			<td>
				Vendor 6 Name/Service</td>
			<td>
				VENDOR6</td>
			<td>
				VEN6</td>
			<td>
				A</td>
			<td>
				32</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				90</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				91</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				92</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				93</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				94</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>