<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 09 (MWD Mechanical)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb1.1" rel="nofollow noopener noreferrer" target="_blank">Well Identifier</a></td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb1.2" rel="nofollow noopener noreferrer" target="_blank">Sidetrack/Hole Sect No.</a></td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb1.3" rel="nofollow noopener noreferrer" target="_blank">Record Identifier </a></td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb1.4" rel="nofollow noopener noreferrer" target="_blank">Sequence Identifier </a></td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb1.5" rel="nofollow noopener noreferrer" target="_blank">Date </a></td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb1.6" rel="nofollow noopener noreferrer" target="_blank">Time </a></td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb1.7" rel="nofollow noopener noreferrer" target="_blank">Activity Code </a></td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.8" rel="nofollow noopener noreferrer" target="_blank">Depth Hole (meas)</a></td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.9" rel="nofollow noopener noreferrer" target="_blank">Depth Hole (vert) </a></td>
			<td>
				DEPTVERT</td>
			<td>
				DVER</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.10" rel="nofollow noopener noreferrer" target="_blank">Depth Bit (meas) </a></td>
			<td>
				DEPTBITM</td>
			<td>
				DBTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.11" rel="nofollow noopener noreferrer" target="_blank">Depth Bit (vert) </a></td>
			<td>
				DEPTBITV</td>
			<td>
				DBTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.12" rel="nofollow noopener noreferrer" target="_blank">Pass Number </a></td>
			<td>
				PASSNUM</td>
			<td>
				PASS</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.13" rel="nofollow noopener noreferrer" target="_blank">Bottom-hole annulus press </a></td>
			<td>
				MBHPANN</td>
			<td>
				MBPA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.14" rel="nofollow noopener noreferrer" target="_blank">Bottom-hole internal press </a></td>
			<td>
				MBHPINT</td>
			<td>
				MBPI</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KPA</td>
			<td>
				PSI</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.15" rel="nofollow noopener noreferrer" target="_blank">Downhole Wt-on-Bit (avg)</a></td>
			<td>
				MWOBA</td>
			<td>
				MWBA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.16" rel="nofollow noopener noreferrer" target="_blank">Downhole Wt-on-Bit (max)</a></td>
			<td>
				MWOBX</td>
			<td>
				MWBX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KDN</td>
			<td>
				KLB</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.17" rel="nofollow noopener noreferrer" target="_blank">Downhole Torque (avg) </a></td>
			<td>
				MTORQA</td>
			<td>
				MTQA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KNM</td>
			<td>
				KFLB</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.18" rel="nofollow noopener noreferrer" target="_blank">Downhole Torque (max) </a></td>
			<td>
				MTORQX</td>
			<td>
				MTQX</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KNM</td>
			<td>
				KFLB</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.19" rel="nofollow noopener noreferrer" target="_blank">Downhole Motor RPM </a></td>
			<td>
				MMMRPM</td>
			<td>
				MMRP</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				RPM</td>
			<td>
				RPM</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.20" rel="nofollow noopener noreferrer" target="_blank">MWD Tool Alternator Voltage </a></td>
			<td>
				MALTVOLT</td>
			<td>
				MALT</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				V</td>
			<td>
				V</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 1 &gt;</a></td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 2 &gt;</a></td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 3 &gt;</a></td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 4 &gt;</a></td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 5 &gt;</a></td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 6 &gt;</a></td>
			<td>
				SPARE6</td>
			<td>
				SPR6</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 7 &gt;</a></td>
			<td>
				SPARE7</td>
			<td>
				SPR7</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 8 &gt;</a></td>
			<td>
				SPARE8</td>
			<td>
				SPR8</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				<a href="http://home.sprynet.com/%7Ecarob/appb.htm#appb9.21" rel="nofollow noopener noreferrer" target="_blank">&lt; SPARE 9 &gt;</a></td>
			<td>
				SPARE9</td>
			<td>
				SPR9</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>