<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 07 (Survey &amp; Directional)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Svy/reading (meas)</td>
			<td>
				DEPTSVYM</td>
			<td>
				DSVM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Svy/reading (vert)</td>
			<td>
				DEPTSVYV</td>
			<td>
				DSVV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Pass Number</td>
			<td>
				PASSNUM</td>
			<td>
				PASS</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Depth Hole (meas)</td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Svy Type</td>
			<td>
				SVYTYPE</td>
			<td>
				STYP</td>
			<td>
				A</td>
			<td>
				8</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Svy Inclination</td>
			<td>
				SVYINC</td>
			<td>
				SINC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Svy Azimuth (uncorrected)</td>
			<td>
				SVYAZU</td>
			<td>
				SAZU</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Svy Azimuth (corrected)</td>
			<td>
				SVYAZC</td>
			<td>
				SAZC</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Svy Magnetic Toolface</td>
			<td>
				SVYMTF</td>
			<td>
				SMTF</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Svy Gravity Toolface</td>
			<td>
				SVYGTF</td>
			<td>
				SGTF</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEG</td>
			<td>
				DEG</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Svy North-South Position</td>
			<td>
				SVYNS</td>
			<td>
				SNS</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Svy East-West Position</td>
			<td>
				SVYEW</td>
			<td>
				SEW</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Svy Dog Leg Severity</td>
			<td>
				SVYDLS</td>
			<td>
				SDLS</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DGHM</td>
			<td>
				DGHF</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Svy Rate of Walk</td>
			<td>
				SVYWALK</td>
			<td>
				SWLK</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DGHM</td>
			<td>
				DGHF</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>