<div id="wiki-page-content" style="min-height: 364px;">
					<h1>WITS Table 08 (MWD Formation Evaluation)</h1>
					<div class="article-content"><table border="5">
	<tbody>
		<tr>
			<th align="CENTER">
				Item</th>
			<th align="">
				Description</th>
			<th align="">
				Long Mnemonic</th>
			<th align="">
				Short Mnemonic</th>
			<th align="">
				Type</th>
			<th align="">
				Length</th>
			<th align="">
				Metric Units</th>
			<th align="">
				FPS Units</th>
		</tr>
		<tr>
			<td>
				1</td>
			<td>
				Well Identifier</td>
			<td>
				WELLID</td>
			<td>
				WID</td>
			<td>
				A</td>
			<td>
				16</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				2</td>
			<td>
				Sidetrack/Hole Sect No.</td>
			<td>
				STKNUM</td>
			<td>
				SKNO</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				3</td>
			<td>
				Record Identifier</td>
			<td>
				RECID</td>
			<td>
				RID</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				4</td>
			<td>
				Sequence Identifier</td>
			<td>
				SEQID</td>
			<td>
				SQID</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				Date</td>
			<td>
				DATE</td>
			<td>
				DATE</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				6</td>
			<td>
				Time</td>
			<td>
				TIME</td>
			<td>
				TIME</td>
			<td>
				L</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				7</td>
			<td>
				Activity Code</td>
			<td>
				ACTCOD</td>
			<td>
				ACTC</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				8</td>
			<td>
				Depth Hole (meas)</td>
			<td>
				DEPTMEAS</td>
			<td>
				DMEA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				9</td>
			<td>
				Depth Hole (vert)</td>
			<td>
				DEPTVERT</td>
			<td>
				DVER</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				Depth Bit (meas)</td>
			<td>
				DEPTBITM</td>
			<td>
				DBTM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				11</td>
			<td>
				Depth Bit (vert)</td>
			<td>
				DEPTBITV</td>
			<td>
				DBTV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				12</td>
			<td>
				Pass Number</td>
			<td>
				PASSNUM</td>
			<td>
				PASS</td>
			<td>
				S</td>
			<td>
				2</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				13</td>
			<td>
				Depth Resis 1 sensor (meas)</td>
			<td>
				DEPTRS1M</td>
			<td>
				DR1M</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				14</td>
			<td>
				Depth Resis 1 sensor (vert)</td>
			<td>
				DEPTRS1V</td>
			<td>
				DR1V</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				15</td>
			<td>
				Resis 1 reading</td>
			<td>
				MR1</td>
			<td>
				MR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				OHMM</td>
			<td>
				OHMM</td>
		</tr>
		<tr>
			<td>
				16</td>
			<td>
				Resis 1 (borehole corr)</td>
			<td>
				MR1C</td>
			<td>
				MR1C</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				OHMM</td>
			<td>
				OHMM</td>
		</tr>
		<tr>
			<td>
				17</td>
			<td>
				Depth Resis 2 sensor (meas)</td>
			<td>
				DEPTRS2M</td>
			<td>
				DR2M</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				18</td>
			<td>
				Depth Resis 2 sensor (vert)</td>
			<td>
				DEPTRS2V</td>
			<td>
				DR2V</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				19</td>
			<td>
				Resis 2 reading</td>
			<td>
				MR2</td>
			<td>
				MR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				OHMM</td>
			<td>
				OHMM</td>
		</tr>
		<tr>
			<td>
				20</td>
			<td>
				Resis 2 (borehole corr)</td>
			<td>
				MR2C</td>
			<td>
				MR2C</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				OHMM</td>
			<td>
				OHMM</td>
		</tr>
		<tr>
			<td>
				21</td>
			<td>
				Depth G.Ray 1 sensor(meas)</td>
			<td>
				DEPTGR1M</td>
			<td>
				DG1M</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				22</td>
			<td>
				Depth G.Ray 1 sensor(vert)</td>
			<td>
				DEPTGR1V</td>
			<td>
				DG1V</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				23</td>
			<td>
				Gamma Ray 1 reading</td>
			<td>
				MG1</td>
			<td>
				MG1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				API</td>
			<td>
				API</td>
		</tr>
		<tr>
			<td>
				24</td>
			<td>
				Gamma Ray 1(borehole corr)</td>
			<td>
				MG1C</td>
			<td>
				MG1C</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				API</td>
			<td>
				API</td>
		</tr>
		<tr>
			<td>
				25</td>
			<td>
				Depth G.Ray 2 sensor(meas)</td>
			<td>
				DEPTGR2M</td>
			<td>
				DG2M</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				26</td>
			<td>
				Depth G.Ray 2 sensor(vert)</td>
			<td>
				DEPTGR2V</td>
			<td>
				DG2V</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				27</td>
			<td>
				Gamma Ray 2 reading</td>
			<td>
				MG2</td>
			<td>
				MG2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				API</td>
			<td>
				API</td>
		</tr>
		<tr>
			<td>
				28</td>
			<td>
				Gamma Ray 2(borehole corr)</td>
			<td>
				MG2C</td>
			<td>
				MG2C</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				API</td>
			<td>
				API</td>
		</tr>
		<tr>
			<td>
				29</td>
			<td>
				Depth Por 1 sensor (meas)</td>
			<td>
				DEPTP1M</td>
			<td>
				DP1M</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				30</td>
			<td>
				Depth Por 1 sensor (vert)</td>
			<td>
				DEPTP1V</td>
			<td>
				DP1V</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				31</td>
			<td>
				Porosity Tool 1 reading</td>
			<td>
				MPO1</td>
			<td>
				MPO1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				32</td>
			<td>
				Depth Por 2 sensor (meas)</td>
			<td>
				DEPTP2M</td>
			<td>
				DP2M</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				33</td>
			<td>
				Depth Por 2 sensor (vert)</td>
			<td>
				DEPTP2V</td>
			<td>
				DP2V</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				34</td>
			<td>
				Porosity Tool 2 reading</td>
			<td>
				MPO2</td>
			<td>
				MPO2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				35</td>
			<td>
				Downhole Fluid Temp (ann)</td>
			<td>
				MFTANN</td>
			<td>
				MFTA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				36</td>
			<td>
				Downhole Fluid Temp (pipe)</td>
			<td>
				MFTPIPE</td>
			<td>
				MFTP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				DEGC</td>
			<td>
				DEGF</td>
		</tr>
		<tr>
			<td>
				37</td>
			<td>
				Downhole Fluid Resis (ann)</td>
			<td>
				MFRANN</td>
			<td>
				MFRA</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				OHMM</td>
			<td>
				OHMM</td>
		</tr>
		<tr>
			<td>
				38</td>
			<td>
				Downhole Fluid Resis (pipe)</td>
			<td>
				MFRPIPE</td>
			<td>
				MFRP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				OHMM</td>
			<td>
				OHMM</td>
		</tr>
		<tr>
			<td>
				39</td>
			<td>
				Depth Form Density (meas)</td>
			<td>
				DEPTFDM</td>
			<td>
				DFDM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				40</td>
			<td>
				Depth Form Density (vert)</td>
			<td>
				DEPTFDV</td>
			<td>
				DFDV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				41</td>
			<td>
				Formation Density</td>
			<td>
				MFD</td>
			<td>
				MFD</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				G/CC</td>
			<td>
				G/CC</td>
		</tr>
		<tr>
			<td>
				42</td>
			<td>
				Depth Caliper (meas)</td>
			<td>
				DEPTCALM</td>
			<td>
				DCLM</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				43</td>
			<td>
				Depth Caliper (vert)</td>
			<td>
				DEPTCALV</td>
			<td>
				DCLV</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				M</td>
			<td>
				F</td>
		</tr>
		<tr>
			<td>
				44</td>
			<td>
				Caliper</td>
			<td>
				MCLP</td>
			<td>
				MCLP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				MM</td>
			<td>
				IN</td>
		</tr>
		<tr>
			<td>
				45</td>
			<td>
				Pore Pressure Grad MWD</td>
			<td>
				MFPP</td>
			<td>
				MFPP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				46</td>
			<td>
				Frac Pressure Grad MWD</td>
			<td>
				MFFP</td>
			<td>
				MFFP</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				KGM3</td>
			<td>
				PPG</td>
		</tr>
		<tr>
			<td>
				47</td>
			<td>
				&lt; SPARE 1 &gt;</td>
			<td>
				SPARE1</td>
			<td>
				SPR1</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				48</td>
			<td>
				&lt; SPARE 2 &gt;</td>
			<td>
				SPARE2</td>
			<td>
				SPR2</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				49</td>
			<td>
				&lt; SPARE 3 &gt;</td>
			<td>
				SPARE3</td>
			<td>
				SPR3</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				50</td>
			<td>
				&lt; SPARE 4 &gt;</td>
			<td>
				SPARE4</td>
			<td>
				SPR4</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				51</td>
			<td>
				&lt; SPARE 5 &gt;</td>
			<td>
				SPARE5</td>
			<td>
				SPR5</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				---</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				52</td>
			<td>
				&lt; SPARE 6 &gt;</td>
			<td>
				SPARE6</td>
			<td>
				SPR6</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				53</td>
			<td>
				&lt; SPARE 7 &gt;</td>
			<td>
				SPARE7</td>
			<td>
				SPR7</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				54</td>
			<td>
				&lt; SPARE 8 &gt;</td>
			<td>
				SPARE8</td>
			<td>
				SPR8</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
		<tr>
			<td>
				55</td>
			<td>
				&lt; SPARE 9 &gt;</td>
			<td>
				SPARE9</td>
			<td>
				SPR9</td>
			<td>
				F</td>
			<td>
				4</td>
			<td>
				----</td>
			<td>
				----</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
					<div style="clear: both; line-height:0px; font-size: 0px;">&nbsp;</div>
				</div>